body {
    background-image: linear-gradient(to right bottom, #f4eae4, #f7deda, #f8d2d9, #efc8e1, #d9c2ed,
            #ccc2f2, #bcc2f7, #a9c3fa, #adc4fb, #b1c5fd, #b5c7fe, #b9c8ff);
}

.login__container {
    margin: 10% auto auto auto;
    width: 20%;
    padding: 2rem;
    min-width: 300px;
    border: 0.1rem solid rgb(0 0 0 / 18%);
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 18%);
}


.content__container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 40px);
}


.logo__container,
.form__container {
    min-width: 400px;
    margin-top: calc((100vh - 50vh) / 2);
    height: 50vh;

}

.form__container {
    margin-left: 5%;
}

.form__container div {
    display: block;
    width: 100%;
}

.form__container button {
    width: 100%;
    margin-top: 5rem;
}

.form__container .mdl-card {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    border-radius: 2px;
}

.form__container .mdl-card p {
    text-align: center;
    font-size: 2em;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 3rem;
}

.vertical-divider {
    height: 100%;
    width: 1px;
    display: block;
    border: none;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 0.1) 50%,
            rgba(255, 255, 255, 0) 100%)
}

.logo__container {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: 300px;
    justify-content: flex-end;
    margin-right: 5%;
}

.logo__container img {
    min-width: 200px;
    max-width: 400px;
}

.footer {
    height: 40px;
    text-align: center;
    font-style: italic;
}