{% load static %}
{% load mdl_components %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login | Lockey</title>
    {% include 'partials/favicon.html' %}
    {% include 'partials/meta.html' %}
    {% include 'partials/js.html' %}
    {% include 'partials/css.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    
</head>
<body>
    <div class="content__container">
        <div class="logo__container"> 
            <img src="{% static  'img/logo-lg.png' %}" alt="lockey log large" />
        </div>
        <div class="vertical-divider"></div>
        <div class="form__container">
            <div class ="mdl-card">
                <p>Welcome</p>
                <form method="post" action="{% url 'dashboard:login' %}">
                    {% csrf_token %}
                    <div>{% mdl_text_input form.username %}</div>
                    <div>{% mdl_password_input form.password %}</div>
                    <div>{% mdl_primary_button 'submit' 'login' %}</div>
                </form>
            </div>
        </div>
        {% include 'partials/form/non_field_errors.html' %}
    </div>
    <footer>
        <div class="footer text-muted">
            <p>Developed by 
                <a href="mailto:gh_mirasgari@isc.co.ir">Reza Mirasgari</a> and
                <a href="mailto:m_moslehikhou@isc.co.ir">Milad Moslehikhou</a> &copy 2021
            </p>
        </div>
    </footer>
</body>
</html>