<div class=" mdl-js-snackbar mdl-snackbar" >
  <div class="mdl-snackbar__text"></div>
  <button type="button" class="mdl-snackbar__action "></button>
</div>
{% if form.non_field_errors %}
<script>
  function notify() {
    var notification = document.querySelector('.mdl-js-snackbar');
    var msg = ""
    {% for error in form.non_field_errors %}
      msg += "{{ error|escape }}" + "\r\n"
    {% endfor %}
    var data = {
      message: msg,
      timeout: 5000
    };
    console.log(notification);
    notification.MaterialSnackbar.showSnackbar(data);
  }
  $(document).ready(function(){
    notify();   
    
  });
</script>
{% endif %}